.contact-section {
  padding: 30px 50px 50px 50px ;
  border-radius: 25px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;

  
}

.contact-title {

  text-align: center;
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 40px;
  border-radius: 50px;
}

/* GRID */
.contact-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 1100px;
  margin: 0 auto;
}

/* CARD */
.contact-card {
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(16px);
  border-radius: 28px;
  padding: 50px 32px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  text-decoration: none;
  color: #fff;
  text-align: center;

  /* animation  */
  opacity: 0;
  transform: translateY(60px) scale(0.95);
  transition: all 0.7s cubic-bezier(0.22, 1, 0.36, 1);
  position: relative;
  overflow: hidden;
}

/* stagger effect */
.contact-card:nth-child(1) { transition-delay: 0.1s; }
.contact-card:nth-child(2) { transition-delay: 0.25s; }
.contact-card:nth-child(3) { transition-delay: 0.4s; }

/* visible */
.contact-card.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}

/* glow */
.contact-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at top,
    rgba(255, 0, 90, 0.45),
    transparent 65%
  );
  opacity: 0;
  transition: opacity 0.4s ease;
}

.contact-card:hover::before {
  opacity: 1;
}

.contact-card:hover {
  transform: translateY(-14px) scale(1.03);
  box-shadow: 0 0 50px rgba(255, 0, 90, 0.55);
}

/* ICON */
.contact-card i {
  font-size: 56px;
  color: #ff4d8d;
  margin-bottom: 24px;
  display: inline-block;
  transition: transform 0.4s ease;
}

.contact-card:hover i {
  transform: scale(1.25) rotate(-8deg);
}

/* TEXT */
.contact-card h4 {
  font-size: 18px;
  margin-bottom: 6px;
}

.contact-card p {
  font-size: 14px;
  color: #e5e7eb;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .contact-grid {
    grid-template-columns: 1fr;
  }

  .contact-title {
    font-size: 34px;
  }
}
